.header-wrapper-block {
    display: block;
    position: relative;
    height: 100vh;
}

.header-video {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

header {
    display: flex;
    flex-direction: row;
    height: 100px;
    background: var(--dark-color);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    width: 90px;
    height: 90px;
}

.header-logo img{
    width: 100%;
}

.header-menu ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-menu ul li {
    margin-left: 15px;
}

.section-item-fill-bg {
    background: url('/images/header-bg/1jpg.jpg') center / cover no-repeat;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background: rgba(29, 29, 29,.7);
}

.header-text h1 {
    font-size: 100px;
    margin: auto;
}

.header-text .header-btn {
    margin-bottom: 60px;
}

.founder, .definition {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    padding: 28px;
    position: relative;
    background: var(--light-color);
    border-radius: 4px;
}

.founder-text-block {
    width: 75%;
}

.founder-text {
    font-size: 65px;
    color: var(--dark-color);
    font-family: "Manrope Bold", sans-serif;
    margin-bottom: 28px;
}

.founder .subtitle {
    font-size: 30px;
    line-height: 32px;
}

.founder .subtitle span {
    color: var(--dark-color);
}

.founder-img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.definition h1 {
    color: var(--dark-color);
    margin-bottom: 28px;
}

.definition p {
    font-size: 20px;
    line-height: 24px;
    color: var(--dark-color);
    margin-bottom: 8px;
}

.definition .def-img {
    position: absolute;
    bottom: -70px;
    width: 215px;
    height: 215px;
}

.polaroid {
    display: flex;
    position: absolute;
    top: 0px;
    left: -12px;
    bottom: -36px;
    right: -12px;
    background: url('/images/lines/polaroid.png') center / cover no-repeat;
}

.definition .def-img img{
    width: 100%;
}

.definition .def-img-1 {
    bottom: -90px;
    left: 28px;
    background: url('/images/definition/def-1.jpg') center / cover no-repeat;
    transform: rotate(-25deg);
}
.definition .def-img-2 {
    left: 20%;
    transform: translateX(-50%);
    transform: rotate(5deg);
    background: url('/images/definition/def-2jpeg.jpeg') center / cover no-repeat;
}
.definition .def-img-3 {
    right: 200px;
    transform: rotate(-5deg);
    background: url('/images/definition/def-3.png') center / cover no-repeat;
}